div {
  width: 960px;
  height: 500px;
  border: 2px solid black;
  margin: 0 auto;
  background-image: linear-gradient(to top right, red, white);
}

div.satu {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
  background-image: radial-gradient(at bottom, white, blue);
}

.dua {
  width: 400px;
  height: 150px;
  border: 2px solid black;
  margin: 0 auto;
  background-image: radial-gradient(farthest-corner circle at 10% 60%, white, blue, white);
}
